.oela-footer {
    display: block;
    position: relative;
    bottom: 0;
    min-height: initial;
    width: 100%;
    color: $text-color;
    background-color: $white;
    clear: both;
    text-align: center;
    border-top: 10px solid $red;
    padding: 20px;

    img {
        height: 100px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }
}
