.oela-header {
    .logo {
        img {}

        .logo-text {
            h1 {}

            p {}
        }
    }

    span.loginLabel {}

    .go {}

    a {
        &:hover {}
    }

    nav.navbar {
        width: 100%;

        .navbar-header {
            img {}

            button {
                .icon-bar {}
            }
        }

        #navbar {
            width: 100%;

            ul.navbar-nav {
                .navbar-form {}

                li {
                    font-size: 18px;

                    a {
                        &:hover {}
                    }
                }
            }
        }
    }
}
