.nav-justified {
  > li {
    display: table-cell;
    width: 1%;
    > a {
      margin-bottom: 0;
    }
  }
}
.nav-tabs-justified {
  > li > a {
    border-bottom: 1px solid $nav-tabs-justified-link-border-color;
    border-radius: $border-radius-base $border-radius-base 0 0;
  }
  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border-bottom-color: $nav-tabs-justified-active-link-border-color;
  }
}