@media (max-width: $screen-sm-max) {
	@include responsive-visibility('.visible-sm');

	.visible-sm-block {
	    display: block !important;
	}
	.visible-sm-inline {
	    display: inline !important;
	}
	.visible-sm-inline-block {
	    display: inline-block !important;
	}

	@include responsive-invisibility('.hidden-sm');
}